In [1]:
import os
import io
import json
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import tweepy

In [2]:
consumer_key = os.environ['api_key']
consumer_secret = os.environ['api_secret_key']
access_token = os.environ['access_token']
access_secret = os.environ['access_token_secret']

In [2]:
csv_file_name = 'twitter-archive-enhanced.csv'

In [3]:
udacity_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

## Gather

In [4]:
df_tweets = pd.read_csv(csv_file_name)

In [5]:
image_data = requests.get(udacity_url).content

In [6]:
df_images = pd.read_csv(io.StringIO(image_data.decode('utf-8')), sep='\t')

In [4]:
# Set up tweepy with credentials.
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [45]:
# will fail without authorization 
with open('tweet_json.txt', 'w') as file:
    for id in df_tweets['tweet_id']:
        try:
            tweet_info = api.get_status(id, tweet_mode='extended')
            json.dump(tweet_info._json, file)
            # ensure each entry on a new line
            file.write('\n')
        except tweepy.TweepError:
            # if it is not possible to find a tweet do nothing
            pass

Rate limit reached. Sleeping for: 508

In [7]:
tweets_data = []
with open('tweet_json.txt') as file:
    for line in file:
        # get rid of \n when adding to a list of dicts
        tweets_data.append(json.loads(line.replace('\n', '')))

In [8]:
# load twitter api data to Pandas
df_tweets_data = pd.DataFrame(tweets_data)

In [9]:
len(df_tweets_data), len(df_tweets)

(2340, 2356)

We've downloaded via API data on almost all of the tweets in the original DataFrame.

## Assess

Let's check what we've got in df_tweets:

In [9]:
df_tweets.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [40]:
df_tweets.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

Let's check if datatypes are apropriate:

In [10]:
df_tweets.dtypes

tweet_id                        int64
in_reply_to_status_id         float64
in_reply_to_user_id           float64
timestamp                      object
source                         object
text                           object
retweeted_status_id           float64
retweeted_status_user_id      float64
retweeted_status_timestamp     object
expanded_urls                  object
rating_numerator                int64
rating_denominator              int64
name                           object
doggo                          object
floofer                        object
pupper                         object
puppo                          object
dtype: object

Let's check what we have in non null rows in replies:

In [11]:
df_tweets[~df_tweets['in_reply_to_status_id'].isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
149,863079547188785154,6.671522e+17,4.196984e+09,2017-05-12 17:12:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ladies and gentlemen... I found Pipsy. He may ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/863079547...,14,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
184,856526610513747968,8.558181e+17,4.196984e+09,2017-04-24 15:13:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...","THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/856526610...,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
251,844979544864018432,7.590995e+17,4.196984e+09,2017-03-23 18:29:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I'm proud to announce that Toby is 23...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/844979544...,13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1501,692142790915014657,6.920419e+17,4.196984e+09,2016-01-27 00:31:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",These are some pictures of Teddy that further ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692142790...,13,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1630,684538444857667585,6.844811e+17,4.196984e+09,2016-01-06 00:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After watching this video, we've determined th...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684538444...,12,10,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1842,675870721063669760,6.757073e+17,4.196984e+09,2015-12-13 02:51:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",&amp; this is Yoshi. Another world record cont...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675870721...,11,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1852,675707330206547968,6.754971e+17,4.196984e+09,2015-12-12 16:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We've got ourselves a battle here. Watch out R...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675707330...,11,10,None,None,None,None,None
1866,675349384339542016,6.749998e+17,4.196984e+09,2015-12-11 16:20:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yea I lied. Here's more. All 13/10 https://t.c...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675349384...,13,10,None,None,None,None,None
1882,674999807681908736,6.747934e+17,4.196984e+09,2015-12-10 17:11:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ok last one of these. I may try to make some m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674999807...,13,10,None,None,None,None,None
1885,674793399141146624,6.717299e+17,4.196984e+09,2015-12-10 03:30:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I have found another. 13/10 https://t.co/HwroP...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674793399...,13,10,None,None,None,None,None
1892,674754018082705410,6.747522e+17,4.196984e+09,2015-12-10 00:54:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Just received another perfect photo of dogs an...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674754018...,12,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2036,671729906628341761,6.715610e+17,4.196984e+09,2015-12-01 16:37:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I'm just going to leave this one here as well....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671729906...,13,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

Looks like 'source' is type of tweeter client used:

In [12]:
df_tweets['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

Let's check some expanded_urls:

In [13]:
df_tweets.iloc[10]['expanded_urls']

'https://twitter.com/dog_rates/status/890006608113172480/photo/1,https://twitter.com/dog_rates/status/890006608113172480/photo/1'

It seems that in some cases url is duplicated.

Checking 'dog stage' columns:

In [14]:
columns = ['doggo', 'floofer', 'pupper', 'puppo']

In [15]:
for column in columns:
    print(df_tweets[column].value_counts())

None     2259
doggo      97
Name: doggo, dtype: int64
None       2346
floofer      10
Name: floofer, dtype: int64
None      2099
pupper     257
Name: pupper, dtype: int64
None     2326
puppo      30
Name: puppo, dtype: int64

Let's check names:

In [16]:
df_tweets['name'].value_counts()

None           745
a               55
Charlie         12
Lucy            11
Cooper          11
Oliver          11
Tucker          10
Lola            10
Penny           10
Bo               9
Winston          9
the              8
Sadie            8
Buddy            7
an               7
Daisy            7
Toby             7
Bailey           7
Jack             6
Koda             6
Jax              6
Scout            6
Milo             6
Stanley          6
Leo              6
Bella            6
Oscar            6
Rusty            6
Dave             6
Phil             5
              ...
Chesterson       1
Chef             1
Scott            1
such             1
Fiji             1
Maisey           1
Pawnd            1
Julio            1
Carll            1
Chase            1
Sweets           1
General          1
Obie             1
Christoper       1
Ruffles          1
Aubie            1
Aldrick          1
William          1
Charl            1
Lilli            1
Geoff            1
Shakespeare      1
Bloop            1
Comet            1
Sandra           1
Willie           1
Jim              1
BeBe             1
Pippin           1
Evy              1
Name: name, Length: 957, dtype: int64

Dog names like 'a', 'the', 'an' are not valid names. Also absent data was marked as a string 'None' which is also not apropriate.

Now let's check ratings:

In [28]:
df_tweets['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [33]:
df_tweets['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

Because WeRateDogs uses quite an unique ratings system it is very hard to assess it's correctness however we can assume that denominator larger than 10 is a mistake, for example this [tweet](https://twitter.com/dog_rates/status/740373189193256964/photo/1) has rating 9/11 however this is actually a date and true rating is 14/10.

In conclusion let's check if we have duplicated rows:

In [39]:
len(df_tweets[df_tweets.duplicated()])

0

Let's check df_images:

In [24]:
df_images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [18]:
df_images.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [19]:
df_images.dtypes

tweet_id      int64
jpg_url      object
img_num       int64
p1           object
p1_conf     float64
p1_dog         bool
p2           object
p2_conf     float64
p2_dog         bool
p3           object
p3_conf     float64
p3_dog         bool
dtype: object

Let's check what breeds we have:

In [42]:
columns = ['p1', 'p2', 'p3']
for column in columns:
    print(df_images[column].value_counts())

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
cocker_spaniel                30
malamute                      30
French_bulldog                26
miniature_pinscher            23
Chesapeake_Bay_retriever      23
seat_belt                     22
Staffordshire_bullterrier     20
Siberian_husky                20
German_shepherd               20
web_site                      19
Cardigan                      19
beagle                        18
Eskimo_dog                    18
Shetland_sheepdog             18
teddy                         18
Maltese_dog                   18
Lakeland_terrier              17
Rottweiler                    17
Shih-Tzu                      17
kuvasz                        16
Italian_greyhound             16
                            ...
convertible                    1
Japanese_spaniel               1
bald_eagle                     1
wooden_spoon                   1
shopping_basket                1
African_crocodile              1
maillot                        1
mailbox                        1
espresso                       1
boathouse                      1
ping-pong_ball                 1
mud_turtle                     1
barbell                        1
bonnet                         1
damselfly                      1
suit                           1
tricycle                       1
bakery                         1
platypus                       1
robin                          1
grey_fox                       1
wild_boar                      1
lawn_mower                     1
park_bench                     1
harp                           1
three-toed_sloth               1
china_cabinet                  1
zebra                          1
carton                         1
washer                         1
Name: p1, Length: 378, dtype: int64
Labrador_retriever                104
golden_retriever                   92
Cardigan                           73
Chihuahua                          44
Pomeranian                         42
French_bulldog                     41
Chesapeake_Bay_retriever           41
toy_poodle                         37
cocker_spaniel                     34
Siberian_husky                     33
miniature_poodle                   33
beagle                             28
Pembroke                           27
collie                             27
Eskimo_dog                         27
kuvasz                             26
Italian_greyhound                  22
American_Staffordshire_terrier     21
Pekinese                           21
Samoyed                            20
chow                               20
toy_terrier                        20
miniature_pinscher                 20
malinois                           20
Norwegian_elkhound                 19
Boston_bull                        19
Staffordshire_bullterrier          18
Irish_terrier                      17
pug                                17
kelpie                             16
                                 ...
sea_urchin                          1
tiger                               1
china_cabinet                       1
sombrero                            1
assault_rifle                       1
knee_pad                            1
cowboy_hat                          1
hummingbird                         1
tray                                1
barracouta                          1
minibus                             1
crutch                              1
wombat                              1
waffle_iron                         1
pelican                             1
promontory                          1
nail                                1
washbasin                           1
bib                                 1
goose                               1
hair_slide                          1
affenpinscher                       1
computer_keyboard                   1
barbershop                          1
lifeboat                            1
patio                               1
menu                                1
mud_turtle                          1
cradle                              1
dam                                 1
Name: p2, Length: 405, dtype: int64
Labrador_retriever                79
Chihuahua                         58
golden_retriever                  48
Eskimo_dog                        38
kelpie                            35
kuvasz                            34
Staffordshire_bullterrier         32
chow                              32
cocker_spaniel                    31
beagle                            31
toy_poodle                        29
Pomeranian                        29
Pekinese                          29
Pembroke                          27
Great_Pyrenees                    27
Chesapeake_Bay_retriever          27
French_bulldog                    26
malamute                          26
American_Staffordshire_terrier    24
pug                               23
Cardigan                          23
basenji                           21
bull_mastiff                      20
toy_terrier                       20
Siberian_husky                    19
Boston_bull                       17
Shetland_sheepdog                 17
Lakeland_terrier                  16
doormat                           16
boxer                             16
                                  ..
viaduct                            1
wild_boar                          1
African_chameleon                  1
paintbrush                         1
common_newt                        1
bulletproof_vest                   1
steam_locomotive                   1
cheetah                            1
balance_beam                       1
loupe                              1
coffeepot                          1
crossword_puzzle                   1
canoe                              1
parachute                          1
mushroom                           1
consomme                           1
theater_curtain                    1
nipple                             1
pier                               1
parallel_bars                      1
boathouse                          1
bell_cote                          1
hand-held_computer                 1
wok                                1
hand_blower                        1
cowboy_boot                        1
neck_brace                         1
green_lizard                       1
golfcart                           1
Kerry_blue_terrier                 1
Name: p3, Length: 408, dtype: int64

With dog breed we got some other items like 'lifeboat', 'barbershop' etc but this is to be expected it seems that image recognition model is not limited to dogs. What we can notice here is that some dog breeds capitalised and some are not i.e. 'miniature_poodle' and 'Siberian_husky'.

Let's check how image classifer actually worked:

In [23]:
df_images[df_images['p1_dog'] == False]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,4.588540e-02,False,terrapin,1.788530e-02,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,1.459380e-02,False,golden_retriever,7.958960e-03,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,3.391940e-02,False,partridge,5.206580e-05,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,8.554740e-02,False,bookcase,7.947970e-02,False
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,1.525000e-02,False,great_grey_owl,1.320720e-02,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,2.784070e-01,True,groenendael,1.026430e-01,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,2.402450e-03,False,hamster,4.608630e-04,False
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,2.714850e-01,False,gar,1.899450e-01,False
33,666430724426358785,https://pbs.twimg.com/media/CT-jNYqW4AAPi2M.jpg,1,llama,0.505184,False,Irish_terrier,1.041090e-01,True,dingo,6.207120e-02,False
43,666776908487630848,https://pbs.twimg.com/media/CUDeDoWUYAAD-EM.jpg,1,seat_belt,0.375057,False,miniature_pinscher,1.671750e-01,True,Chihuahua,8.695060e-02,True
45,666786068205871104,https://pbs.twimg.com/media/CUDmZIkWcAAIPPe.jpg,1,snail,0.999888,False,slug,5.514170e-05,False,acorn,2.625800e-05,False
50,666837028449972224,https://pbs.twimg.com/media/CUEUva1WsAA2jPb.jpg,1,triceratops,0.442113,False,armadillo,1.140710e-01,False,common_iguana,4.325530e-02,False
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,1.901420e-01,False,wig,3.450970e-02,False
52,666996132027977728,https://pbs.twimg.com/media/CUGlb6iUwAITEbW.jpg,1,hay,0.507637,False,Rottweiler,6.248990e-02,True,water_buffalo,4.842470e-02,False
53,667012601033924608,https://pbs.twimg.com/media/CUG0bC0U8AAw2su.jpg,1,hyena,0.987230,False,African_hunting_dog,1.260080e-02,False,coyote,5.735010e-05,False
56,667065535570550784,https://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg,1,jigsaw_puzzle,0.560001,False,doormat,1.032590e-01,False,space_heater,4.256800e-02,False
69,667188689915760640,https://pbs.twimg.com/media/CUJUk2iWUAAVtOv.jpg,1,vacuum,0.335830,False,swab,2.652780e-01,False,toilet_tissue,1.407030e-01,False
73,667369227918143488,https://pbs.twimg.com/media/CUL4xR9UkAEdlJ6.jpg,1,teddy,0.709545,False,bath_towel,1.272850e-01,False,Christmas_stocking,2.856750e-02,False
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,6.300490e-03,False,badger,9.663400e-04,False
78,667443425659232256,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,1,goose,0.980815,False,drake,6.917770e-03,False,hen,5.255170e-03,False
87,667524857454854144,https://pbs.twimg.com/media/CUOGUfJW4AA_eni.jpg,1,hare,0.447893,False,dhole,9.243530e-02,False,Chesapeake_Bay_retriever,8.812240e-02,True
93,667549055577362432,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1,electric_fan,0.984377,False,spotlight,7.736710e-03,False,lampshade,1.901230e-03,False
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,2.010840e-04,False,oscilloscope,1.417360e-04,False
95,667550904950915073,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1,web_site,0.999335,False,vizsla,8.106320e-05,True,collie,6.915900e-05,True
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,ibex,0.619098,False,bighorn,1.251190e-01,False,ram,7.467320e-02,False
98,667766675769573376,https://pbs.twimg.com/media/CURiQMnUAAAPT2M.jpg,1,fire_engine,0.883493,False,tow_truck,7.473390e-02,False,jeep,1.277260e-02,False
100,667782464991965184,https://pbs.twimg.com/media/CURwm3cUkAARcO6.jpg,1,lorikeet,0.466149,False,hummingbird,8.301100e-02,False,African_grey,5.424740e-02,False
103,667806454573760512,https://pbs.twimg.com/media/CUSGbXeVAAAgztZ.jpg,1,toyshop,0.253089,False,Chihuahua,1.871550e-01,True,Brabancon_griffon,1.127990e-01,True
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
107,667873844930215936,https://pbs.twimg.com/media/CUTDtyGXIAARxus.jpg,1,common_iguana,0.999647,False,frilled_lizard,1.811500e-04,False,African_chameleon,1.283570e-04,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,2.630610e-02,False,crossword_puzzle,3.481510e-03,False
1902,851861385021730816,https://pbs.twimg.com/media/C8W6sY_W0AEmttW.jpg,1,pencil_box,0.662183,False,purse,6.650550e-02,False,pillow,4.472530e-02,False
1904,852189679701164033,https://pbs.twimg.com/media/C9OV99SXsAEmj1U.jpg,1,barrow,0.423150,False,Bernese_mountain_dog,4.153740e-01,True,EntleBucher,6.734540e-02,True
1905,852226086759018497,https://pbs.twimg.com/ext_tw_video_thumb/85222...,1,prison,0.352793,False,dishwasher,1.107230e-01,False,file,9.411200e-02,False
1906,852311364735569921,https://pbs.twimg.com/media/C9QEqZ7XYAIR7fS.jpg,1,barbell,0.971581,False,dumbbell,2.841790e-02,False,go-kart,5.595040e-07,False
1910,853299958564483072,https://pbs.twimg.com/media/C9eHyF7XgAAOxPM.jpg,1,grille,0.652280,False,beach_wagon,1.128460e-01,False,convertible,8.625230e-02,False
1931,859074603037188101,https://pbs.twimg.com/media/C-wLyufW0AA546I.jpg,1,revolver,0.190292,False,projectile,1.490640e-01,False,fountain,6.604660e-02,False
1932,859196978902773760,https://pbs.twimg.com/ext_tw_video_thumb/85919...,1,Angora,0.224218,False,malamute,2.161630e-01,True,Persian_cat,1.283830e-01,False
1936,860184849394610176,https://pbs.twimg.com/media/C-_9jWWUwAAnwkd.jpg,1,chimpanzee,0.267612,False,gorilla,1.042930e-01,False,orangutan,5.990750e-02,False
1937,860276583193509888,https://pbs.twimg.com/media/C_BQ_NlVwAAgYGD.jpg,1,lakeside,0.312299,False,dock,1.598420e-01,False,canoe,7.079450e-02,False
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,1.259140e-02,False,paper_towel,1.117850e-02,False
1942,861288531465048066,https://pbs.twimg.com/ext_tw_video_thumb/86128...,1,syringe,0.144712,False,oxygen_mask,1.066840e-01,False,Bouvier_des_Flandres,8.261020e-02,True
1944,861769973181624320,https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg,2,Arabian_camel,0.366248,False,house_finch,2.098520e-01,False,cocker_spaniel,4.640320e-02,True
1946,862457590147678208,https://pbs.twimg.com/media/C_gQmaTUMAAPYSS.jpg,1,home_theater,0.496348,False,studio_couch,1.672560e-01,False,barber_chair,5.262500e-02,False
1953,863907417377173506,https://pbs.twimg.com/media/C_03NPeUQAAgrMl.jpg,1,marmot,0.358828,False,meerkat,1.747030e-01,False,weasel,1.234850e-01,False
1956,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,pole,0.478616,False,lakeside,1.141820e-01,False,wreck,5.592650e-02,False
1970,868880397819494401,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,9.998390e-02,True,printer,7.712990e-02,False
1975,870063196459192321,https://pbs.twimg.com/media/DBMV3NnXUAAm0Pp.jpg,1,comic_book,0.534409,False,envelope,2.807220e-01,False,book_jacket,4.378550e-02,False
1979,870804317367881728,https://pbs.twimg.com/media/DBW35ZsVoAEWZUU.jpg,1,home_theater,0.168290,False,sandbar,9.804040e-02,False,television,7.972940e-02,False
1984,872122724285648897,https://pbs.twimg.com/media/DBpm-5UXcAUeCru.jpg,1,basketball,0.808396,False,pug,6.673630e-02,True,dalmatian,5.456980e-02,True
1992,873697596434513921,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,9.998390e-02,True,printer,7.712990e-02,False
2012,879050749262655488,https://pbs.twimg.com/media/DDMD_phXoAQ1qf0.jpg,1,tabby,0.311861,False,window_screen,1.691230e-01,False,Egyptian_cat,1.329320e-01,False
2013,879376492567855104,https://pbs.twimg.com/media/DDQsQGFV0AAw6u9.jpg,1,tricycle,0.663601,False,Labrador_retriever,3.349610e-02,True,Pembroke,1.882660e-02,True
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,1.151230e-01,False,traffic_light,6.953380e-02,False
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,Indian_elephant,2.456460e-01,False,ibex,5.566070e-02,False
2026,882045870035918850,https://pbs.twimg.com/media/DD2oCl2WAAEI_4a.jpg,1,web_site,0.949591,False,dhole,1.732580e-02,False,golden_retriever,6.940630e-03,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,1.399520e-01,False,car_wheel,4.417270e-02,False
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,2.917540e-02,False,shopping_cart,2.632080e-02,False
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,1.680860e-01,True,spatula,4.083590e-02,False
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,8.585110e-02,False,banana,7.611000e-02,False

It seems that WeRateDogs posts not only dogs but other animals too here is a [turtle](https://twitter.com/dog_rates/status/666051853826850816)

Anyway for the purpose of this project out of three columns we need only one with actually dogs in it.

In [43]:
df_images.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [45]:
columns = ['p1_dog', 'p2_dog', 'p3_dog']
for column in columns:
    print(df_images[column].value_counts())

True     1532
False     543
Name: p1_dog, dtype: int64
True     1553
False     522
Name: p2_dog, dtype: int64
True     1499
False     576
Name: p3_dog, dtype: int64

Let's check for duplicates:

In [47]:
len(df_images[df_images.duplicated()])

0

Let's see what we've abtained via twitter-API:

In [11]:
df_tweets_data.columns

Index(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'favorite_count', 'favorited',
       'full_text', 'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'possibly_sensitive_appealable',
       'quoted_status', 'quoted_status_id', 'quoted_status_id_str',
       'quoted_status_permalink', 'retweet_count', 'retweeted',
       'retweeted_status', 'source', 'truncated', 'user'],
      dtype='object')

In [15]:
df_tweets_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 32 columns):
contributors                     0 non-null object
coordinates                      0 non-null object
created_at                       2340 non-null object
display_text_range               2340 non-null object
entities                         2340 non-null object
extended_entities                2067 non-null object
favorite_count                   2340 non-null int64
favorited                        2340 non-null bool
full_text                        2340 non-null object
geo                              0 non-null object
id                               2340 non-null int64
id_str                           2340 non-null object
in_reply_to_screen_name          77 non-null object
in_reply_to_status_id            77 non-null float64
in_reply_to_status_id_str        77 non-null object
in_reply_to_user_id              77 non-null float64
in_reply_to_user_id_str          77 non-null object
is_quote_status                  2340 non-null bool
lang                             2340 non-null object
place                            1 non-null object
possibly_sensitive               2205 non-null object
possibly_sensitive_appealable    2205 non-null object
quoted_status                    24 non-null object
quoted_status_id                 26 non-null float64
quoted_status_id_str             26 non-null object
quoted_status_permalink          26 non-null object
retweet_count                    2340 non-null int64
retweeted                        2340 non-null bool
retweeted_status                 167 non-null object
source                           2340 non-null object
truncated                        2340 non-null bool
user                             2340 non-null object
dtypes: bool(4), float64(3), int64(3), object(22)
memory usage: 521.1+ KB

We got a bunch of data on individual tweets, but most interesting to us is retweet_count and favorite_count:

In [17]:
df_tweets_data[['id', 'retweet_count','favorite_count']].sample(5)

                      id  retweet_count  favorite_count
1894  674416750885273600            146             700
38    884876753390489601           5491           27416
544   803692223237865472           8170               0
81    876838120628539392           3283           20338
1147  723688335806480385           3167            8029

In [18]:
df_tweets_data[['retweet_count', 'favorite_count']].describe()

       retweet_count  favorite_count
count    2340.000000     2340.000000
mean     2928.622222     7960.525214
std      4933.774449    12328.813228
min         0.000000        0.000000
25%       587.750000     1371.750000
50%      1367.500000     3460.500000
75%      3412.750000     9740.000000
max     83635.000000   164249.000000

df_tweets_data seems to be a clean and tidy dataset atleast in parts which matter for this project.

### Quality

<ul>
    <li><b>For the tweet archive:</b></li>
    <li>Timestamp is a string, should be datetime object</li>
    <li>Id's in in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id and retweeted_status_user_id are floats should be integers</li>
    <li>Tags in source column do not contribute usefull info, needs to be changed to iphone, vine, web, tweetdeck</li>
    <li>Some names are obviously invalid like 'a', 'the', 'an'</li>
    <li>Missing values in names column labeled as string 'None'</li>
    <li>Rating denominators should be not larger than 10</li>
    <li>Missing values in 'dog stages' labeled as string 'None'</li>
    <li><b>For image prediction DataFrame:</b></li>
    <li>Some dog breed capitalised and some are not</li>
    <li>Out of three columns we need only one - actually with a dog breed in it</li>
</ul>

### Tidiness

<ul>
    <li><b>For the tweet archive:</b></li>
    <li>In expanded urls some of the url's are duplicated</li>
    <li>Columns 'doggo', 'floofer', 'pupper', 'puppo' are realy just one variable: dog stage as per Dogtionary</li>
    <li>Replies and retweets are present</li>
    <li>Since we have a single unit of observation - tweet we should put all info in one DataFrame (merging all three DataFrames together)</li>
</ul>

## Clean

First we have to deal with tidiness issues than move to quality issues.

### Define

Merge all three data sets together.

### Clean

In [10]:
df_tweets_data_clean = df_tweets_data.copy()
# Rename id column for merging.
df_tweets_data_clean.rename(index=str, columns={'id': 'tweet_id'}, inplace=True)

In [11]:
# merge with data from twitter API
df_twitter_archive_master = pd.merge(df_tweets,
                                     df_tweets_data_clean[['tweet_id', 'retweet_count', 'favorite_count']],
                                     how='left')

In [103]:
# merge with image data
df_twitter_archive_master = pd.merge(df_twitter_archive_master, df_images)

### Test

In [104]:
df_twitter_archive_master.tail()

,index,tweet_id,timestamp,source,text,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1963,2351,666049248165822465,2015-11-16 00:24:50,iphone,Here we have a 1949 1st generation vulpix. Enj...,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,NaN,...,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
1964,2352,666044226329800704,2015-11-16 00:04:52,iphone,This is a purebred Piers Morgan. Loves to Netf...,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,NaN,...,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
1965,2353,666033412701032449,2015-11-15 23:21:54,iphone,Here is a very happy pup. Big fan of well-main...,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,NaN,...,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
1966,2354,666029285002620928,2015-11-15 23:05:30,iphone,This is a western brown Mitsubishi terrier. Up...,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,NaN,...,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
1967,2355,666020888022790149,2015-11-15 22:32:08,iphone,Here we have a Japanese Irish Setter. Lost eye...,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,NaN,...,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True

Looks like successful merge If we check about 16 tweets are missing data because they were deleted at some point.

In [13]:
len(df_twitter_archive_master[df_twitter_archive_master['retweet_count'].isnull()])

16

Let's drop deleted tweets:

In [14]:
df_twitter_archive_master = df_twitter_archive_master.dropna(subset=['retweet_count', 'favorite_count']).reset_index()

But for some reason ints in favorite_count and retweet_count were converted to floats, let's convert them back to ints.

In [15]:
df_twitter_archive_master['retweet_count'] = df_twitter_archive_master['retweet_count'].astype(int)
df_twitter_archive_master['favorite_count'] = df_twitter_archive_master['favorite_count'].astype(int)

In [16]:
df_twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 20 columns):
index                         2340 non-null int64
tweet_id                      2340 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2340 non-null object
source                        2340 non-null object
text                          2340 non-null object
retweeted_status_id           167 non-null float64
retweeted_status_user_id      167 non-null float64
retweeted_status_timestamp    167 non-null object
expanded_urls                 2281 non-null object
rating_numerator              2340 non-null int64
rating_denominator            2340 non-null int64
name                          2340 non-null object
doggo                         2340 non-null object
floofer                       2340 non-null object
pupper                        2340 non-null object
puppo                         2340 non-null object
retweet_count                 2340 non-null int32
favorite_count                2340 non-null int32
dtypes: float64(4), int32(2), int64(4), object(10)
memory usage: 347.4+ KB

### Define

Replace columns 'doggo', 'floofer', 'pupper', 'puppo' with one 'dog_stage' with an appropriate dog stage in it or NaN value for missing data. Than drop 'doggo', 'floofer', 'pupper', 'puppo' columns.

### Clean

First let's define a helper function:

In [30]:
def get_dog_stage(row):
    # default value will be NaN
    dog_stage = np.nan
    if row['doggo'] == 'doggo':
        dog_stage = 'doggo'
    elif row['floofer'] == 'floofer':
        dog_stage = 'floofer'
    elif row['pupper'] == 'pupper':
        dog_stage = 'pupper'
    elif row['puppo'] == 'puppo':
        dog_stage = 'puppo'
    return dog_stage

In [31]:
df_twitter_archive_master['dog_stage'] = df_twitter_archive_master.apply(get_dog_stage, axis=1)

In [34]:
# droping columns
columns_to_drop = ['doggo', 'floofer', 'pupper', 'puppo']
df_twitter_archive_master.drop(columns_to_drop, axis=1, inplace=True)

### Test

In [35]:
df_twitter_archive_master['dog_stage'].value_counts()

pupper     221
doggo       83
puppo       23
floofer      9
Name: dog_stage, dtype: int64

In [38]:
# if no error raised columns were dropped successfully
for column in columns_to_drop:
    assert column not in df_twitter_archive_master.columns

### Define

Since we are not interested in replies or retweets let's delete them from dataframe completely and drop these columns.

### Clean

In [19]:
columns = ['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id']
for column in columns:
    df_twitter_archive_master = df_twitter_archive_master[df_twitter_archive_master[column].isnull()]
df_twitter_archive_master.drop(columns, axis=1, inplace=True)

### Test

In [20]:
# check that we didn't drop everything
len(df_twitter_archive_master)

2095

In [21]:
# How many rows we've dropped?
len(df_tweets) - len(df_twitter_archive_master)

261

### Define

Remove duplicated URL's in 'expanded_urls' by splitting string at ',' at checking each part.

### Clean

In [60]:
def clear_duplicated_url(row):
    result = row['expanded_urls']
    if result is not np.nan:
        urls = row['expanded_urls'].split(',')
        if len(urls) > 1:
            # filter duplicates
            urls = set(urls)
            result = ','.join(urls)
    return result

In [62]:
df_twitter_archive_master['expanded_urls'] = df_twitter_archive_master.apply(clear_duplicated_url, axis=1)

### Test

In [63]:
df_twitter_archive_master.iloc[10]['expanded_urls']

'https://twitter.com/dog_rates/status/890006608113172480/photo/1'

Let's move to the rest of quality issues:

### Define

Replace link tag in 'source' column with appropriate value (iphone, vine, web, tweetdeck).

### Clean

In [64]:
# lets define a helper function
def replace_source(original):
    mapping = {'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 'iphone',
               '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>': 'vine',
               '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 'web',
               '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>': 'tweetdeck'}
    return mapping[original]

In [65]:
df_twitter_archive_master['source'] = df_twitter_archive_master['source'].apply(replace_source)

KeyError: 'iphone'

### Test

In [66]:
df_twitter_archive_master['source'].value_counts()

iphone       1963
vine           91
web            31
tweetdeck      10
Name: source, dtype: int64

### Define

Replace dog names 'a', 'the', 'an', 'None' with NaN.

### Clean

In [67]:
df_twitter_archive_master['name'].replace({'a': np.nan, 'the': np.nan, 'an': np.nan}, inplace=True)

In [26]:
df_twitter_archive_master['name'].replace({'None': np.nan}, inplace=True)

### Test

In [68]:
len(df_twitter_archive_master[df_twitter_archive_master['name'].isna()]) # original it was 0

672

In [28]:
df_twitter_archive_master['name'].value_counts()

Lucy        11
Charlie     10
Cooper      10
Oliver      10
Tucker       9
Penny        9
Sadie        8
Lola         8
Winston      8
Daisy        7
Toby         7
Bailey       6
Jax          6
Bella        6
Oscar        6
Koda         6
Bo           6
Stanley      6
Chester      5
Leo          5
Buddy        5
Dave         5
Scout        5
Bentley      5
Louis        5
Milo         5
Rusty        5
Chip         4
Clarence     4
Winnie       4
            ..
Kobe         1
Julio        1
Hector       1
Kenzie       1
Vinnie       1
Laika        1
DonDon       1
Chloe        1
Trigger      1
Kulet        1
Gustaf       1
such         1
Ginger       1
Meera        1
Covach       1
Blue         1
Meatball     1
Brian        1
Tuck         1
Cermet       1
Maks         1
Lili         1
O            1
Angel        1
Stormy       1
Herb         1
Pilot        1
Lizzie       1
Ralpher      1
Mimosa       1
Name: name, Length: 951, dtype: int64

### Define

Convert timestamp string to datetime object.

### Clean

In [ ]:
df_twitter_archive_master['timestamp'] = pd.to_datetime(df_twitter_archive_master['timestamp'])

### Test

In [ ]:
df_twitter_archive_master['timestamp'].dtype

### Define

For rating_denominator above 10 and divisable by 10 assume that multiple dogs were given the same rating. For the rest check each tweet manually and update rating.

### Clean

In [83]:
def update_ratings(row):
    denominator = row['rating_denominator']
    numerator = row['rating_numerator']
    if denominator > 10 and denominator % 10 == 0:
        new_denominator = 10
        num_dogs = denominator / new_denominator
        new_numerator = numerator / new_denominator
    else:
        new_numerator = numerator
        new_denominator = denominator
    return int(new_numerator), int(new_denominator)

In [84]:
df_twitter_archive_master['rating_numerator'], df_twitter_archive_master['rating_denominator'] = zip(*df_twitter_archive_master.apply(update_ratings, axis=1))

In [96]:
# updating ratings manually
denominator = 'rating_denominator'
numerator = 'rating_numerator'
# actual 14/10
df_twitter_archive_master.at[1053, denominator] = 10
df_twitter_archive_master.at[1053, numerator] = 14
# actual 10/10
df_twitter_archive_master.at[1647, denominator] = 10
df_twitter_archive_master.at[1647, numerator] = 10
# actual 9/10
df_twitter_archive_master.at[2319, denominator] = 10
df_twitter_archive_master.at[2319, numerator] = 9

In [99]:
# let's drop tweet with no rating
df_twitter_archive_master.drop(505, inplace=True)

### Test

In [101]:
len(df_twitter_archive_master[df_twitter_archive_master['rating_denominator'] != 10])

0

### Define

Cast all image predictions to lower case:

### Clean

In [108]:
prediction_columns = ['p1', 'p2', 'p3']
for column in prediction_columns:
    df_twitter_archive_master[column] = df_twitter_archive_master[column].str.lower()

### Test

In [109]:
df_twitter_archive_master.p2.value_counts()

labrador_retriever                95
golden_retriever                  82
cardigan                          73
chihuahua                         43
chesapeake_bay_retriever          40
french_bulldog                    39
pomeranian                        38
toy_poodle                        36
siberian_husky                    33
miniature_poodle                  32
cocker_spaniel                    32
eskimo_dog                        27
beagle                            27
collie                            26
kuvasz                            24
pembroke                          24
italian_greyhound                 22
pekinese                          21
miniature_pinscher                20
chow                              20
american_staffordshire_terrier    20
malinois                          20
toy_terrier                       19
norwegian_elkhound                19
boston_bull                       18
samoyed                           17
staffordshire_bullterrier         17
pug                               17
shih-tzu                          16
irish_terrier                     16
                                  ..
umbrella                           1
handkerchief                       1
junco                              1
dumbbell                           1
bagel                              1
bib                                1
washbasin                          1
cockroach                          1
lampshade                          1
lighter                            1
chain_mail                         1
african_hunting_dog                1
assault_rifle                      1
laptop                             1
red_fox                            1
web_site                           1
computer_keyboard                  1
neck_brace                         1
desk                               1
birdhouse                          1
sleeping_bag                       1
armadillo                          1
volcano                            1
trench_coat                        1
giant_panda                        1
hair_slide                         1
window_shade                       1
lawn_mower                         1
brown_bear                         1
cowboy_boot                        1
Name: p2, Length: 396, dtype: int64

### Define

Add a new column - 'dog_breed' with the breed with highest confidence from p1, p2, p3 columns. Note that columns are already sorted. After this drop all columns from images dataset.

In [111]:
df_twitter_archive_master.columns

Index(['index', 'tweet_id', 'timestamp', 'source', 'text',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'retweet_count', 'favorite_count',
       'dog_stage', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

### Clean

Again let's define a helper function:

In [113]:
def get_dog_breed(row):
    dog_breed = np.nan
    if row['p1_dog'] == True:
        dog_breed = row['p1']
    elif row['p2_dog'] == True:
        dog_breed = row['p2']
    elif row['p3_dog'] == True:
        dog_breed = row['p3']
    return dog_breed

In [114]:
df_twitter_archive_master['dog_breed'] = df_twitter_archive_master.apply(get_dog_breed, axis=1)

In [118]:
images_columns = ['jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog']
df_twitter_archive_master.drop(images_columns, axis=1, inplace=True)

### Test

In [115]:
df_twitter_archive_master['dog_breed'].value_counts()

golden_retriever                  155
labrador_retriever                106
pembroke                           94
chihuahua                          90
pug                                62
toy_poodle                         50
chow                               48
pomeranian                         41
samoyed                            41
malamute                           33
chesapeake_bay_retriever           31
french_bulldog                     30
cocker_spaniel                     30
miniature_pinscher                 24
eskimo_dog                         22
german_shepherd                    21
cardigan                           21
staffordshire_bullterrier          20
beagle                             20
shih-tzu                           20
siberian_husky                     20
maltese_dog                        19
shetland_sheepdog                  18
rottweiler                         18
lakeland_terrier                   17
basset                             17
kuvasz                             17
italian_greyhound                  17
west_highland_white_terrier        16
american_staffordshire_terrier     16
                                 ...
keeshond                            4
saluki                              4
tibetan_mastiff                     4
irish_setter                        4
rhodesian_ridgeback                 4
giant_schnauzer                     3
toy_terrier                         3
irish_water_spaniel                 3
leonberg                            3
afghan_hound                        3
greater_swiss_mountain_dog          3
brabancon_griffon                   3
briard                              3
komondor                            3
curly-coated_retriever              3
cairn                               3
groenendael                         2
wire-haired_fox_terrier             2
black-and-tan_coonhound             2
sussex_spaniel                      2
australian_terrier                  2
appenzeller                         2
irish_wolfhound                     1
silky_terrier                       1
japanese_spaniel                    1
scotch_terrier                      1
clumber                             1
bouvier_des_flandres                1
standard_schnauzer                  1
entlebucher                         1
Name: dog_breed, Length: 113, dtype: int64

Okay seems that we fixed all the issues and cleaned this dataset in the end let's drop some of the columns which we will not use for our analysis.

In [126]:
df_twitter_archive_master.columns

Index(['index', 'tweet_id', 'timestamp', 'source', 'text',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'retweet_count', 'favorite_count',
       'dog_stage', 'dog_breed'],
      dtype='object')

In [128]:
columns_to_drop = ['index', 'text', 'retweeted_status_timestamp', 'expanded_urls']
df_twitter_archive_master.drop(columns_to_drop, axis=1, inplace=True)

Let's write our cleaned data to .csv file:

In [129]:
df_twitter_archive_master.to_csv('twitter_archive_master.csv', index=False)

## Analyse

Let's load cleaned data:

In [130]:
df = pd.read_csv('twitter_archive_master.csv')
df.head()

,tweet_id,timestamp,source,rating_numerator,rating_denominator,name,retweet_count,favorite_count,dog_stage,dog_breed
0,892420643555336193,2017-08-01 16:23:56,iphone,13,10,Phineas,8316,38023,NaN,NaN
1,892177421306343426,2017-08-01 00:17:27,iphone,13,10,Tilly,6143,32647,NaN,chihuahua
2,891815181378084864,2017-07-31 00:18:03,iphone,12,10,Archie,4067,24570,NaN,chihuahua
3,891689557279858688,2017-07-30 15:58:51,iphone,13,10,Darla,8459,41377,NaN,labrador_retriever
4,891327558926688256,2017-07-29 16:00:24,iphone,12,10,Franklin,9159,39555,NaN,basset